# DB 접속 정보
spring.datasource.username=javadb
spring.datasource.password=여기에_DB_비밀번호_입력

# JWT 비밀키 (256비트 이상)
jwt.secret=여기에_발급받은_JWT_시크릿키_입력

# NEIS API 인증키
neis.api.key=여기에_NEIS_API_키_입력

# OAuth2 키
spring.security.oauth2.client.registration.google.client-id=여기에_구글_클라이언트ID_입력
spring.security.oauth2.client.registration.google.client-secret=여기에_구글_시크릿_입력

spring.security.oauth2.client.registration.kakao.client-id=여기에_카카오_클라이언트ID_입력
spring.security.oauth2.client.registration.kakao.client-secret=여기에_카카오_시크릿_입력
